# SQL With Real Data -- Allegheny County Property Assessments

## CS1656 -- Alexandros Labrinidis -- http://cs1656.org

In [1]:
import pandas as pd
import sqlite3 as lite

In [2]:
# Donwload real-estate.db from http://data.cs1656.org/real-estate.db 
con = lite.connect("real-estate.db")

In [3]:
cur = con.cursor()
cur.execute('select count(*) from real_estate;')
myresults = cur.fetchall()
print (myresults)

OperationalError: no such table: real_estate

In [4]:
## -- (Q1) Compute breakdown of properties per school code ##
qstr = '''
select SCHOOLCODE, count(*) 
from real_estate 
group by SCHOOLCODE;
'''
cur.execute(qstr)
myresults = cur.fetchall()

print (50*'-')
print ("Array of results:")
print (myresults)

print ("")
print (50*'-')
print ("DataFrame of results:")
df = pd.DataFrame(myresults)
print (df)

OperationalError: no such table: real_estate

In [5]:
## -- (Q1b) Compute breakdown of properties per school code, 
##  order in decreasing order of number of properties ##
qstr = '''
select SCHOOLCODE, count(*) prop_cnt
from real_estate 
group by SCHOOLCODE 
order by prop_cnt DESC;
'''
cur.execute(qstr)
myresults = cur.fetchall()

print (50*'-')
print ("Array of results:")
print (myresults)

print ("")
print (50*'-')
print ("DataFrame of results:")
df = pd.DataFrame(myresults)
print (df)

OperationalError: no such table: real_estate

In [6]:
## -- (Q1c) Create a VIEW that computes the breakdown of properties per school code, 
##    and orders the results in decreasing order of number of properties 

cur.execute('DROP VIEW if exists school_district_codes;')

qstr = '''
create view school_district_codes as
  select SCHOOLCODE, count(*) prop_cnt
  from real_estate 
  group by SCHOOLCODE 
  order by prop_cnt DESC;
'''
cur.execute(qstr)
myresults = cur.fetchall()

print (50*'-')
print ("Array of results:")
print (myresults)

print ("")
print (50*'-')
print ("DataFrame of results:")
df = pd.DataFrame(myresults)
print (df)

--------------------------------------------------
Array of results:
[]

--------------------------------------------------
DataFrame of results:
Empty DataFrame
Columns: []
Index: []

In [7]:
## -- (Q1d) Use the newly created school_district_codes view to answer Q1b
qstr = '''
select * from school_district_codes
'''

cur.execute(qstr)
myresults = cur.fetchall()

print (50*'-')
print ("Array of results:")
print (myresults)

print ("")
print (50*'-')
print ("DataFrame of results:")
df = pd.DataFrame(myresults)
print (df)

OperationalError: no such table: main.real_estate

In [8]:
## -- (Q2) Compute breakdown of properties per school district name, order in decreasing order of number of properties
qstr = '''
select SCHOOLDESC, count(*) prop_cnt
from real_estate 
group by SCHOOLDESC 
order by prop_cnt DESC;
'''
cur.execute(qstr)
myresults = cur.fetchall()

print (50*'-')
print ("Array of results:")
print (myresults)

print ("")
print (50*'-')
print ("DataFrame of results:")
df = pd.DataFrame(myresults)
print (df)

OperationalError: no such table: real_estate

In [9]:
## -- (Q3) Create view that computes breakdown of properties per school district name
cur.execute("DROP VIEW IF EXISTS school_districts")
qstr = '''
create view school_districts as
  select SCHOOLDESC, count(*) prop_cnt
  from real_estate 
  group by SCHOOLDESC 
  order by prop_cnt DESC;
'''
cur.execute(qstr)
myresults = cur.fetchall()

print (50*'-')
print ("Array of results:")
print (myresults)

print ("")
print (50*'-')
print ("DataFrame of results:")
df = pd.DataFrame(myresults)
print (df)

--------------------------------------------------
Array of results:
[]

--------------------------------------------------
DataFrame of results:
Empty DataFrame
Columns: []
Index: []

In [10]:
## -- (Q4) Rewrite Q2 using view defined in Q3 
qstr = '''
select * from school_districts
'''
cur.execute(qstr)
myresults = cur.fetchall()

print (50*'-')
print ("Array of results:")
print (myresults)

print ("")
print (50*'-')
print ("DataFrame of results:")
df = pd.DataFrame(myresults)
print (df)

OperationalError: no such table: main.real_estate

In [11]:
## -- (Q5) How many school districts are there?
qstr = '''
select count(*) from school_districts
'''
cur.execute(qstr)
myresults = cur.fetchall()

print (50*'-')
print ("Array of results:")
print (myresults)

print ("")
print (50*'-')
print ("DataFrame of results:")
df = pd.DataFrame(myresults)
print (df)

OperationalError: no such table: main.real_estate

In [12]:
## -- (Q6) List the total number of properties and the average per school district ##
qstr = '''
select sum(prop_cnt), avg(prop_cnt), 577986/46 from school_districts
'''
cur.execute(qstr)
myresults = cur.fetchall()

print (50*'-')
print ("Array of results:")
print (myresults)

print ("")
print (50*'-')
print ("DataFrame of results:")
df = pd.DataFrame(myresults)
print (df)

OperationalError: no such table: main.real_estate

In [13]:
## -- (Q7) List the school district (SCHOOLDESC) 
##         with the highest number of properties
qstr = '''
select * 
from school_districts
LIMIT 1
'''
cur.execute(qstr)
myresults = cur.fetchall()

print (50*'-')
print ("Array of results:")
print (myresults)

print ("")
print (50*'-')
print ("DataFrame of results:")
df = pd.DataFrame(myresults)
print (df)

OperationalError: no such table: main.real_estate

In [14]:
## -- (Q8) What is the highest number of properties for a single school district?
qstr = '''
select max(prop_cnt)
from school_districts
'''
cur.execute(qstr)
myresults = cur.fetchall()

print (50*'-')
print ("Array of results:")
print (myresults)

print ("")
print (50*'-')
print ("DataFrame of results:")
df = pd.DataFrame(myresults)
print (df)

OperationalError: no such table: main.real_estate

In [15]:
## -- (Q8) List the school district with the highest number of properties (and handle ties)
qstr = '''
select SCHOOLDESC
from school_districts
where prop_cnt = (select max(prop_cnt) from school_districts)
'''
cur.execute(qstr)
myresults = cur.fetchall()

print (50*'-')
print ("Array of results:")
print (myresults)

print ("")
print (50*'-')
print ("DataFrame of results:")
df = pd.DataFrame(myresults)
print (df)

OperationalError: no such table: main.real_estate

In [16]:
## -- (Q8b) List the school district with 50% over the average number of properties (and handle ties)
qstr = '''
select *
from school_districts
where prop_cnt > 1.5*(select avg(prop_cnt) from school_districts)
'''
cur.execute(qstr)
myresults = cur.fetchall()

print (50*'-')
print ("Array of results:")
print (myresults)

print ("")
print (50*'-')
print ("DataFrame of results:")
df = pd.DataFrame(myresults)
print (df)

OperationalError: no such table: main.real_estate

In [17]:
## -- (Q9) List the school district with the highest number of properties (and handle ties) - version 2
qstr = '''
select *
from school_districts, 
(select max(prop_cnt) as max_c from school_districts) as max_table
where prop_cnt = max_table.max_c

'''
cur.execute(qstr)
myresults = cur.fetchall()

print (50*'-')
print ("Array of results:")
print (myresults)

print ("")
print (50*'-')
print ("DataFrame of results:")
df = pd.DataFrame(myresults)
print (df)

OperationalError: no such table: main.real_estate

In [18]:
## -- (Q10) How much is the sum of the county assessed fair market 
## value of all properties in the county (FAIRMARKETTOTAL)?
qstr = '''
select sum(FAIRMARKETTOTAL)
from real_estate
'''
cur.execute(qstr)
myresults = cur.fetchall()

print (50*'-')
print ("Array of results:")
print (myresults)

print ("")
print (50*'-')
print ("DataFrame of results:")
df = pd.DataFrame(myresults)
print (df)

OperationalError: no such table: real_estate

In [19]:
## -- (Q11) What is the breakdown of number of properties for the different tax codes?
qstr = '''
select TAXCODE, count(*) 
from real_estate 
group by TAXCODE;
'''
cur.execute(qstr)
myresults = cur.fetchall()

print (50*'-')
print ("Array of results:")
print (myresults)

print ("")
print (50*'-')
print ("DataFrame of results:")
df = pd.DataFrame(myresults)
print (df)

OperationalError: no such table: real_estate

In [20]:
## -- (Q12) How much is the sum of the county assessed fair market value of all properties in the county 
## --       for each of the different tax codes?
qstr2 = '''
select TAXCODE, sum(FAIRMARKETTOTAL) as fmv
from real_estate
group by TAXCODE
order by fmv DESC
'''

qstr = '''
select SCHOOLDESC, TAXCODE, sum(FAIRMARKETTOTAL) as fmv
from real_estate
group by SCHOOLDESC, TAXCODE
order by fmv DESC
'''

cur.execute(qstr2)
myresults = cur.fetchall()

print (50*'-')
print ("Array of results:")
print (myresults)

print ("")
print (50*'-')
print ("DataFrame of results:")
df = pd.DataFrame(myresults)
print (df)

OperationalError: no such table: real_estate

In [21]:
## -- (Q13) What is the total county assessed fair market value 
##          for all properties per school district
qstr = '''
-- SQL query here --
select SCHOOLDESC, sum(COUNTYTOTAL) as tot 
from real_estate 
group by SCHOOLDESC 
order by tot DESC
LIMIT 10
'''
cur.execute(qstr)
myresults = cur.fetchall()

print (50*'-')
print ("Array of results:")
print (myresults)

print ("")
print (50*'-')
print ("DataFrame of results:")
df = pd.DataFrame(myresults)
print (df)

OperationalError: no such table: real_estate

In [22]:
## -- (Q14) What is the total county assessed fair market value 
##    for all TAXABLE properties per school district
qstr = '''
select SCHOOLDESC, sum(FAIRMARKETTOTAL) as fmv
from real_estate
where TAXCODE='T'
group by SCHOOLDESC
order by fmv DESC
'''
cur.execute(qstr)
myresults = cur.fetchall()

print (50*'-')
print ("Array of results:")
print (myresults)

print ("")
print (50*'-')
print ("DataFrame of results:")
df = pd.DataFrame(myresults)
print (df)

OperationalError: no such table: real_estate

In [23]:
## -- (Q15) What is the average county assessed fair market 
##     value for all TAXABLE properties per school district
qstr = '''
select SCHOOLDESC, avg(FAIRMARKETTOTAL) as fmv
from real_estate
where TAXCODE='T'
group by SCHOOLDESC
order by fmv DESC
'''

qstr2 = '''
select SCHOOLDESC, avg(FAIRMARKETTOTAL) as fmv
from real_estate
group by SCHOOLDESC
order by fmv DESC
'''

cur.execute(qstr)
myresults = cur.fetchall()

print (50*'-')
print ("Array of results:")
print (myresults)

print ("")
print (50*'-')
print ("DataFrame of results:")
df = pd.DataFrame(myresults)
print (df)

OperationalError: no such table: real_estate

In [24]:
## -- (Q16) What is the total difference between 
##    county-assessed fair market value and saleprices?
qstr = '''
select sum(FAIRMARKETTOTAL - SALEPRICE)
from real_estate
'''

cur.execute("DROP VIEW IF EXISTS mytotals")

qstr = '''
create view mytotals as
select count(*) as myc, (select count(*) from real_estate) as myt
from real_estate
where SALEPRICE = 1
'''
cur.execute(qstr)

qstr = '''
select myc, myt, myc/myt
from mytotals
'''
cur.execute(qstr)

myresults = cur.fetchall()

print (50*'-')
print ("Array of results:")
print (myresults)

print ("")
print (50*'-')
print ("DataFrame of results:")
df = pd.DataFrame(myresults)
print (df)

OperationalError: no such table: main.real_estate

In [25]:
## -- (Q17) What is the total county-assessed fair market value?
qstr = '''
-- SQL query here --
select sum(COUNTYTOTAL-SALEPRICE) 
from real_estate;
'''
cur.execute(qstr)
myresults = cur.fetchall()

print (50*'-')
print ("Array of results:")
print (myresults)

print ("")
print (50*'-')
print ("DataFrame of results:")
df = pd.DataFrame(myresults)
print (df)

OperationalError: no such table: real_estate

In [26]:
## -- ?
qstr = '''
select recorddate, saledate, substr(saledate, 7) as myyear
from real_estate
where saledate != "None" 
order by myyear ASC'''
cur.execute(qstr)
myresults = cur.fetchall()

print (50*'-')
#print ("Array of results:")
#print (myresults)

print ("")
print (50*'-')
print ("DataFrame of results:")
df = pd.DataFrame(myresults)
print (df)

OperationalError: no such table: real_estate

In [27]:
## -- (Q17) What is the total county-assessed fair market value?
qstr = '''
-- SQL query here --
select sum(COUNTYTOTAL) from real_estate;

'''
cur.execute(qstr)
myresults = cur.fetchall()

print (50*'-')
print ("Array of results:")
print (myresults)

print ("")
print (50*'-')
print ("DataFrame of results:")
df = pd.DataFrame(myresults)
print (df)

OperationalError: no such table: real_estate

In [28]:
## -- (Q18) What is the total saleprices?
qstr = '''
-- SQL query here --
select sum(SALEPRICE) from real_estate;

'''
cur.execute(qstr)
myresults = cur.fetchall()

print (50*'-')
print ("Array of results:")
print (myresults)

print ("")
print (50*'-')
print ("DataFrame of results:")
df = pd.DataFrame(myresults)
print (df)

OperationalError: no such table: real_estate

In [29]:
## -- (Q19) What is the total difference between county-assessed fair market value and saleprices PER school district?
qstr = '''
-- SQL query here --
select SCHOOLDESC, sum(COUNTYTOTAL-SALEPRICE) 
from real_estate 
group by SCHOOLDESC; 
'''
cur.execute(qstr)
myresults = cur.fetchall()

print (50*'-')
print ("Array of results:")
print (myresults)

print ("")
print (50*'-')
print ("DataFrame of results:")
df = pd.DataFrame(myresults)
print (df)

OperationalError: no such table: real_estate