# CS 1656 – Introduction to Data Science 

## Instructor: Alexandros Labrinidis 
### Teaching Assistant: Tahereh Arabghalizi
### Additional credits: Zuha Agha, Anatoli Shein, Phuong Pham, Evangelos Karageorgos

## Lecture 09c: Cypher+Neo4j+Python
---
In this lecture, we will query a Neo4j graph database using with Cypher language and Python. Neo4j is a highly scalable, native graph database purpose-built to leverage not only data but also its relationships. Cypher is a declarative graph query language that allows for expressive and efficient querying and updating of the graph store.

In [1]:
# Use the following to get the neo4j database password from the user
import getpass
print ("Give me your neo4j password:")
neopass = getpass.getpass()
#print ("You typed:", neopass)

Give me your neo4j password:
········

In [2]:
from neo4j.v1 import GraphDatabase

# More information on neo4j python API at:
# http://neo4j.com/docs/api/python-driver/current/

#Connect to the database
uri = "bolt://localhost:7687"
driver = GraphDatabase.driver(uri, auth=("neo4j", neopass))

#Start new session
session = driver.session()

#Start new transaction
transaction = session.begin_transaction()

### Queries
__Q1) List any 10 actor names.__

In [3]:
result = transaction.run("""
MATCH (people:Actor)
RETURN people.name
LIMIT 10
;""")
for record in result:
    print (record)
    print (record['people.name'])

<Record people.name='Sam Worthington'>
Sam Worthington
<Record people.name='Zoe Saldana'>
Zoe Saldana
<Record people.name='Sigourney Weaver'>
Sigourney Weaver
<Record people.name='Stephen Lang'>
Stephen Lang
<Record people.name='Michelle Rodriguez'>
Michelle Rodriguez
<Record people.name='Joel Moore'>
Joel Moore
<Record people.name='Giovanni Ribisi'>
Giovanni Ribisi
<Record people.name='CCH Pounder'>
CCH Pounder
<Record people.name='Laz Alonso'>
Laz Alonso
<Record people.name='Wes Studi'>
Wes Studi
<Record people.name='Dileep Rao'>
Dileep Rao
<Record people.name='Matt Gerald'>
Matt Gerald
<Record people.name='Dean Knowsley'>
Dean Knowsley
<Record people.name='Audrey Tautou'>
Audrey Tautou
<Record people.name='Rufus'>
Rufus
<Record people.name='Jamel Debbouze'>
Jamel Debbouze
<Record people.name='Claire Maurier'>
Claire Maurier
<Record people.name='Isabelle Nanty'>
Isabelle Nanty
<Record people.name='Dominique Pinon'>
Dominique Pinon
<Record people.name='Artus de Penguern'>
Artus de Penguern

In [ ]:
result = transaction.run("""
MATCH (people:Actor)
RETURN people.name
LIMIT 10
;""")

print ("First time")
for record in result:
    print ('-'*30)
    print (record)
    print (record['people.name'])
print ("Second time")
for record in result:
    print ('-'*30)
    print (record)
    print (record['people.name'])
print ("All done")

__Q2) List any 10 movie titles.__

In [ ]:
result = transaction.run("""
MATCH (m:Movie)
RETURN m.title
ORDER BY m.title ASC
LIMIT 50
;""")
for record in result:
    print ('-'*50)
    print (record)
    print (record['m.title'])

__Q3) List all actors in 'The Matrix' movie.__

In [ ]:
result = transaction.run("""
MATCH (m:Movie {title: 'The Matrix'})<-[:ACTS_IN]-(a:Actor)
RETURN a.name
;""")
for record in result:
    print (record)

__Q4) List all actors who are also directors in the same movie.__

In [ ]:
result = transaction.run("""
MATCH (a:Person)-[:DIRECTED]->(m:Movie)<-[:ACTS_IN]-(a:Person)
RETURN DISTINCT a.name
;""")
for record in result:
    print (record['a.name'])

__Q5) Count how many actors are also directors in the same movie.__

In [ ]:
result = transaction.run("""
MATCH (a:Person)-[:DIRECTED]->(m:Movie)<-[:ACTS_IN]-(a:Person)
RETURN COUNT(DISTINCT a.name) as cad
;""")
for record in result:
    print (record['cad'])

__Q5b) Count how many actors are also directors (not necessarily in the same movie.__

In [ ]:
result = transaction.run("""
MATCH (a:Person)-[:DIRECTED]->(m:Movie)
MATCH (m2:Movie)<-[:ACTS_IN]-(a:Person)
RETURN COUNT(DISTINCT a.name) as cad
;""")
for record in result:
    print (record['cad'])

__ Q5c) Show which movies each person directed. __

In [ ]:
result = transaction.run("""
MATCH (a:Person)-[:DIRECTED]->(m:Movie)
WITH a as an, collect(m.title) as allmovies
RETURN an.name, length(allmovies) as lam, allmovies
ORDER BY lam DESC
;""")
for record in result:
    print (record)

__Q6) List actors who acted in more than 40 movies, ordered by the number of the movies they acted in.__

In [ ]:
result = transaction.run("""
MATCH (a:Actor)-[:ACTS_IN]->(m:Movie)
WITH a, collect(m) AS movies
WHERE length(movies) >= 40
RETURN a.name, length(movies)
ORDER BY length(movies) DESC
;""")
for record in result:
    print (record['a.name'], 'starred in', record['length(movies)'], "movies")

__Q7) Count the total number of reviews. __

In [ ]:
result = transaction.run("""
MATCH (a)-[r:RATED]->(m:Movie)
RETURN COUNT(r) as cad
;""")
for record in result:
    print (record)
    print (record['cad'])
    #print (record['thisISanERROR'])

__Q8) List movies with at least one 5-star review. __

In [5]:
result = transaction.run("""
MATCH (u) -[r:RATED]-> (m:Movie) 
WHERE r.stars = 5 
RETURN m.title as mt, count(r) as cr 
ORDER BY cr DESC
;""")
for record in result:
    if (record['cr']==1):
        print (record['mt'], 'has', record['cr'], 'five-star review')
    else:
        print (record['mt'], 'has', record['cr'], 'five-star reviews')

The Matrix has 5 five-star reviews
Forrest Gump has 2 five-star reviews
The Italian Job has 1 five-star review
Gone with the Wind has 1 five-star review
Back to the Future has 1 five-star review
The Matrix Revolutions has 1 five-star review
The Matrix Reloaded has 1 five-star review
Terminator Salvation has 1 five-star review
Apocalypse Now has 1 five-star review
The Simpsons Movie has 1 five-star review

__Q9) Find the average rating per movie.__

In [6]:
result = transaction.run("""
MATCH (u) -[r:RATED]-> (m:Movie) 
RETURN m.title as mt, avg(r.stars) as ar, count(r) as cr 
ORDER BY ar DESC
;""")
for record in result:
    print (record['mt'], '-- has an average rating of', record['ar'], 'stars from', record['cr'], 'reviews')

The Italian Job -- has an average rating of 5.0 stars from 1 reviews
Gone with the Wind -- has an average rating of 5.0 stars from 1 reviews
Forrest Gump -- has an average rating of 5.0 stars from 2 reviews
Terminator Salvation -- has an average rating of 5.0 stars from 1 reviews
Back to the Future -- has an average rating of 5.0 stars from 1 reviews
Apocalypse Now -- has an average rating of 5.0 stars from 1 reviews
The Matrix Revolutions -- has an average rating of 5.0 stars from 1 reviews
The Matrix Reloaded -- has an average rating of 5.0 stars from 1 reviews
The Simpsons Movie -- has an average rating of 5.0 stars from 1 reviews
The Matrix -- has an average rating of 4.625 stars from 8 reviews
Crash Test Dummies -- has an average rating of 4.0 stars from 1 reviews
A Wednesday -- has an average rating of 4.0 stars from 1 reviews
Iron Man -- has an average rating of 4.0 stars from 1 reviews
V for Vendetta -- has an average rating of 4.0 stars from 1 reviews
Madagascar: Escape 2 Africa -- has an average rating of 4.0 stars from 1 reviews
Vertigo -- has an average rating of 4.0 stars from 1 reviews
Moon -- has an average rating of 4.0 stars from 1 reviews
Wag the Dog -- has an average rating of 4.0 stars from 1 reviews
Meet the Fockers -- has an average rating of 4.0 stars from 1 reviews
Como agua para chocolate -- has an average rating of 3.0 stars from 1 reviews
Tom and Jerry: The Magic Ring -- has an average rating of 3.0 stars from 1 reviews
Le Goût des autres -- has an average rating of 3.0 stars from 1 reviews

__Q10) How many actors does each movie have? __

In [7]:
result = transaction.run("""
MATCH (a:Actor) -[r:ACTS_IN]-> (m:Movie) 
WITH m.title as mt, collect(a) as ac
RETURN mt, length(ac) as len
ORDER by len DESC
LIMIT 100
;""")
for record in result:
    print (record['mt'], record['len'])

Titanic 94
Les Misérables 93
Dickie Roberts: Former Child Star 89
Frankenstein 82
Danny Deckchair 81
Jesus of Nazareth 79
Hitler: The Rise of Evil 77
V for Vendetta 75
A.D. 71
Bad Boys 71
The Tulse Luper Suitcases, Part 1: The Moab Story 65
A Good Year 63
The Red Violin 58
Don't Look Now: We're Being Shot At 58
Pirates 58
Carla's Song 57
David 56
Melissa 56
Jesus Christ Vampire Hunter 55
Angels & Demons 55
Die Geierwally 53
The Lost World 52
Superbad 52
Hancock 51
American Gigolo 51
Alien Autopsy 51
The Blues Brothers 50
Finders Keepers 50
MacBeth 49
The Nine Lives of Tomas Katz 48
It's a Mad Mad Mad Mad World 48
The Curse of the Jade Scorpion 47
Dr. Jekyll and Mr. Hyde 46
Is Paris Burning? 45
Diner 45
Alraune 45
Freddy Got Fingered 45
The Count of Monte Cristo 45
Bowfinger 44
The Nativity Story 43
Halloween 43
Serenity 43
Charleys Tante 43
Pirates: Stagnetti's Revenge 43
Moses 42
Assault on Precinct 13 42
Crash 42
Carrie 42
Breaker Morant 42
Godzilla vs. Biollante 42
The Rage: Carrie 2 42
He Died with a Felafel in His Hand 41
Paris, je t'aime 41
Winged Creatures 41
The Girl Next Door 41
Lost Highway 41
Bleach: Memories of Nobody 41
National Lampoon's Animal House 40
Look Both Ways 40
Vera Brühne 40
Joseph 40
Mýrin 39
Edge of Seventeen 39
Man of the Year 39
The X-Files: I Want to Believe 39
Mister Lonely 38
Jack Brooks: Monster Slayer 38
Personal Effects 38
Harry Potter and the Deathly Hallows: Part I 38
Whole New Thing 37
Barfuss 37
Madea's Family Reunion 36
The Lookout 36
Nashville 36
Basic Instinct 2 35
Beowulf 35
The Stand 35
Prêt-à-porter 35
The Ten Commandments 35
Abraham 34
Fussball ist unser Leben 34
Take 34
The Girl in the Park 34
Gimme Shelter 34
Es geschah am hellichten Tag 34
Ten Little Indians 34
Prince Valiant 34
At Close Range 33
The Star Wars Holiday Special 33
Gone with the Wind 33
Fresh 33
The Mothman Prophecies 33
The Twilight Saga: New Moon 33
54 33
Elementarteilchen 32
Alice's Restaurant 32
La Révolution française 32
Layer Cake 32
The Lazarus Project 32
Babel 32

__Q11) What is the maximum number of actors in a movie? __

In [9]:
result = transaction.run("""
MATCH (a:Actor) -[r:ACTS_IN]-> (m:Movie) 
WITH m.title as mt, collect(a) as ac
WITH length(ac) as mc
RETURN max(mc) as mmc
;""")
maxactors = 0
for record in result:
    maxactors = record['mmc']
    print (maxactors)

94

__ Q12) What is the average number of actors in a movie? __

In [10]:
result = transaction.run("""
MATCH (a:Actor) -[r:ACTS_IN]-> (m:Movie) 
WITH m.title as mt, collect(a) as ac
WITH length(ac) as mc
RETURN avg(mc) as amc
;""")
for record in result:
    print (record['amc'])

8.605961468556893

__Q13) Titles of movies with over 60 actors. __

In [11]:
result = transaction.run("""
MATCH (a:Actor) -[r:ACTS_IN]-> (m:Movie) 
WITH m.title as mt, collect(a) as ac
WHERE length(ac) >= 60
RETURN mt, length(ac) as amc
ORDER BY amc DESC
;""")
for record in result:
    print (record['mt'], record['amc'])

Titanic 94
Les Misérables 93
Dickie Roberts: Former Child Star 89
Frankenstein 82
Danny Deckchair 81
Jesus of Nazareth 79
Hitler: The Rise of Evil 77
V for Vendetta 75
Bad Boys 71
A.D. 71
The Tulse Luper Suitcases, Part 1: The Moab Story 65
A Good Year 63

__Q14) Show the title of the movie with the maximum number of actors.__

In [12]:
querystring = """
MATCH (a:Actor) -[r:ACTS_IN]-> (m:Movie) 
WITH m.title as mt, collect(a) as ac
WITH mt, length(ac) as mc
WHERE mc = 
""" + str(maxactors) + """
RETURN mt
;"""

print (querystring)

result = transaction.run(querystring)
for record in result:
    print (record['mt'])

MATCH (a:Actor) -[r:ACTS_IN]-> (m:Movie)
WITH m.title as mt, collect(a) as ac
WITH mt, length(ac) as mc
WHERE mc =
94
RETURN mt
;
Titanic

__Q14) Show the title of the movie with the maximum number of actors. (version 2)__

In [13]:
# More info at https://pypi.python.org/pypi/neo4j-driver/1.5.3
result = transaction.run('''
MATCH (a:Actor) -[r:ACTS_IN]-> (m:Movie) 
WITH m.title as mt, collect(a) as ac 
WITH mt, length(ac) as mc 
WHERE mc = $maxact 
RETURN mt''', maxact=maxactors)

for record in result:
    print (record['mt'])

Titanic

__Q15) Show a breakdown of movies by genre.__

In [14]:
result = transaction.run("""
MATCH (m:Movie) 
RETURN m.genre as mg, count(m) as cm
ORDER BY cm DESC
;""")
for record in result:
    print (record['mg'], record['cm'])

Comedy 3188
Drama 2690
Action 2458
None 1152
Horror 617
Crime 593
Documentary 534
Animation 426
Adventure 312
Thriller 143
Science Fiction 114
Fantasy 90
Sports Film 81
Family 75
History 70
Musical 56
Erotic 54
Mystery 38
Western 37
Music 24
Suspense 19
Romance 18
Eastern 18
Road Movie 15
Disaster 13
Indie 13
War 7
Film Noir 3
Short 2
Sporting Event 1
British 1

__Q16) Find actors who have starred in science fiction movies and crime movies. __

In [21]:
result = transaction.run("""
MATCH (m:Movie) <-[:ACTS_IN]- (a:Actor) -[:ACTS_IN]-> (m2:Movie)
WHERE m.genre = "Science Fiction" and m2.genre = "Disaster"
RETURN DISTINCT a.name as an, m.title as mt, m2.title as mt2
ORDER BY an
;""")
for record in result:
    print (record['an'], "--", record['mt'], "--", record['mt2'])

Kavan Smith -- Mission to Mars -- Titanic
Richard Dreyfuss -- Close Encounters of the Third Kind -- Always
Richy Müller -- The Noah's Ark Principle -- Die Wolke

__Q17) Find actors who have starred in movies that have received different reviews (>=1 star difference). Show the actor's name and the titles of the two movies and the stars they got. __

In [22]:
result = transaction.run("""
MATCH (u1) -[r1:RATED]-> (m1:Movie) <-[:ACTS_IN]- (a:Actor) -[:ACTS_IN]-> (m2:Movie) <-[r2:RATED]- (u2)
WHERE r1.stars > r2.stars 
RETURN DISTINCT a.name as an, m1.title as mt1, r1.stars as rs1, m2.title as mt2, r2.stars as rs2
ORDER BY an 
;""")
for record in result:
    print (record['an'], "--", record['mt1'], record['rs1'], "--", record['mt2'], record['rs2'])

Carrie-Anne Moss -- The Matrix Reloaded 5 -- The Matrix 4
Carrie-Anne Moss -- The Matrix Revolutions 5 -- The Matrix 4
Gloria Foster -- The Matrix Reloaded 5 -- The Matrix 4
Hugo Weaving -- The Matrix 5 -- V for Vendetta 4
Hugo Weaving -- The Matrix Reloaded 5 -- V for Vendetta 4
Hugo Weaving -- The Matrix Reloaded 5 -- The Matrix 4
Hugo Weaving -- The Matrix Revolutions 5 -- V for Vendetta 4
Hugo Weaving -- The Matrix Revolutions 5 -- The Matrix 4
Jada Pinkett Smith -- The Matrix Revolutions 5 -- Madagascar: Escape 2 Africa 4
Keanu Reeves -- The Matrix Reloaded 5 -- The Matrix 4
Keanu Reeves -- The Matrix Revolutions 5 -- The Matrix 4
Laurence Fishburne -- The Matrix Reloaded 5 -- The Matrix 4
Laurence Fishburne -- The Matrix Revolutions 5 -- The Matrix 4
Laurence Fishburne -- Apocalypse Now 5 -- The Matrix 4

__Let's close the session and the transaction.__

In [ ]:
transaction.close()
session.close()